main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86vh;
}

div {
    background-color: white;
    width: 40%;
    height: 93%;
    border-radius: 20px;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5%;
}

hr {
    width: 90%;
    margin-top: auto;
}

app-footer {
    margin-bottom: 2%;
}